
body,html,#home{
    height: 100%;
    overflow-x:hidden ;
 }
.perfil{
    margin: 2px;
    padding: 3px;
}
.senha{
    margin-top: 10px;
}
.senha input{
    border: none;
    background-color: #0329b4c0;
    color: white;
}
.form-control:focus{
    background-color: #0329b4c0;
    color: white;
}
.checkbox_menu{
    justify-content: space-evenly;
}
.input_checkbox{
    color: white;
}
.esqueci a{
    color: brown;
}
.botao_cadastra{
    border: none;
    border-radius: 10px;
    color: red;
    font: 500;
    font-size: 20px;
}
.botao_login{
    border: none;
    border-radius: 10px;
    color: blue;
    font: 500;
    font-size: 20px;
}
.botao_cadastra:hover{
    background-color: blue;
    color:white;
    transform:scale(1.06);
}
.botao_login:hover{
    background-color: red;
    color: white;
    transform:scale(1.06);
}
.btn a {
    text-decoration:none;
}
.btn a:hover {
    text-decoration:none;
    color: white;
}
   
