@keyframes tamganima{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
        
    }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #002093;
}
.bord{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fundo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 480px;
    width: 60%;
    overflow: hidden;
    border-radius: 8px;
    padding: 15px;
    
}
.fundo::before , .fundo::after{
    content: '';
    position: absolute;
    z-index: -1;
    width: calc(400%);
    height: calc(300%);
    animation: tamganima 3s linear infinite;
    background-image: linear-gradient(blue,red,blue,red);
    background-size: 100%;
    justify-content: center;
    align-items: center;
}
.fundo::after{
    filter: blur(50px);
}
.menu:hover{
    background-color: #0329b4c0;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
    text-align: center;
    padding: 20px;
    background-color: #002093;
    border-radius: 5px;
}
.menu_img{
    text-align: center;
    background-color: white;
}
@media (max-width: 575.98px){
.fundo{
    height: 680px;
    
}
}
@media (min-width: 576px) and (max-width: 767.98px) {
.fundo{
    height: 680px;

}

}