@keyframes tamg-anima{
        0%{
            background-image: linear-gradient(to top,red,blue);
        }
        25%{
            background-image: linear-gradient(to right,blue,red);
        }
        50%{
            background-image: linear-gradient(to bottom,red,blue);
        }
        75%{
            background-image: linear-gradient(to left,blue,red);
        }
        100%{
            background-image: linear-gradient(to top,red,blue);
            
        }
}
body{
    background-color: #002093;
}
.fundo{
    display: block;
    position:absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    margin: auto;
    border-radius: 15px;
    animation: tamg-anima 5s linear infinite;
    height: 400px;
    width: 45%;
}
.menu{
    display: block;
    background-color: #002093;
    text-align: center;
    padding: 20px ;
    border-radius: 15px;
}
.menu_img{
    text-align: center;
    background-color: white;
}
@media (max-width: 575.98px){
    .fundo{
        height: 560px;
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    .fundo{
        height: 400px;
    }
}