.perfil-2{
    background-color: #D9D9D9;
    padding: 10px;
    border-radius: 50px;
    color: black;
}

body,.perfil-10{
    height: 100%;
    width: 100%;
    background-color: #ECECEC ;
}
.perfil-13{
    display: flex;
    padding: 20px;
}
.perfil-principal{
    border-radius: 10px;
    border: 1px black solid;
    background-color: white;
    padding: 10px;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.perfil-pf1{
    margin: 20px 5px 0px 0px;
    padding: 5px;
    font-size: 25px;
    font-family:fantasy ;
}
.perfil-pf2{
    padding: 3px 1px;
    font-size: 20px;
    border: none;
    background-color: #fff;
    border-radius: 10px;
    margin-left: 10px;
}
