.tela207{
    width: 100%;
    background-color: white;
    text-align: center;
    padding: 15px 0px;
    display: inline-block;
}
body{
    background-color: #002093;
    margin: 0;
}
.cadastro002{
    display: block;
    width: 700px;
    height: 550px;
    background-color: white;
    border: 2px solid #AB1F25;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 70px auto auto auto;
    border-radius: 10px;
    box-sizing: border-box;
}
