.telaprim{
   display: block;
    padding: 40px;
}
.tela207{
    width: 100%;
    background-color: white;
    text-align: center;
    padding: 15px 0px;
    display: inline-block;
}
body{
    background-color: #002093;
    margin: 0;
}
.cadastro002{
    display: block;
    width: 100%;
}
.divits{
    margin-top: 10px;
}

.painel1{
    padding: 10px;
  
    border-radius: 10px;
    margin: 0;
}