.telaprim{
   display: block;
    padding: 40px;
}
.tela207{
    width: 100%;
    background-color: white;
    text-align: center;
    padding: 15px 0px;
    display: inline-block;
}
body{
    background-color: #002093;
    margin: 0;
}
.cadastro002{
    display: block;
    width: 900px;
    height: 650px;
    background-color: white;
    border: 2px solid #AB1F25;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 10px auto auto auto;
    border-radius: 10px;
    box-sizing: border-box;
   text-align: center;
   position: relative;
   overflow: hidden;
}
.divits{
    display:inline-block ;
    padding: 10px;
    margin: 10px;
}

.painel1{
    width: 100%;
    padding: 10px;
    display: block;
    justify-items: auto;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 10px;
    margin: 15px;
}
input{
    border: none;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}
.btn{
    padding: 10px 30px;
   margin-top: 20px;
   margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    background-color: #002093;
    color: white;
    font-size: 20px;
}
.btn:hover{
    background-color: #AB1F25;
    color: white;
}
.central{
    display: block;
    margin-top: 50px;
}